---
layout: layouts/base.njk
title: Shopping Cart
description: Review and manage your cart items
---

<article class="container cart-page">
  <header>
    <h1>Shopping Cart</h1>
  </header>
  <div class="cart-header">
    <span>Product</span>
    <span>Unit Price</span>
    <span>Quantity</span>
    <span>Total</span>
    <span></span>
  </div>
  <div id="cart-contents"></div>
  <a href="/" class="btn">Back to products</a>
  <a href="/checkout/" class="btn">Checkout Now</a>
</article>
